name: NodeJS

on:
  pull_request:
    branches:
      - develop
    paths:
      - 'package.json'
      - '.github/workflows/nodejs.yml'
  push:
    branches:
      - develop
    paths:
      - 'package.json'
      - '.github/workflows/nodejs.yml'

jobs:
  main:
    name: NodeJS ${{ matrix.node-version }} Tests
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[ci skip]')"
    strategy:
      matrix:
        node-version: ['14', '16', '18']

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}

      - name: Install dependencies
        run: npm install
